@use 'variables' as *;

body {
  margin: 0;
  font-family: $bodyFont;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// change the calc value depending on the height of the navbar
.page-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  max-width: 100rem;
  min-height: 100vh;
}
.content-wrap {
  position: relative;
  margin-top: 6.25rem;
  //padding-bottom includes 5.625rem for footer, and 0.625rem for space
  padding-bottom: 6.25rem;
}

h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

ul {
  padding-inline-start: 1.25rem;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: black;
}

figure {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.loading {
  display: block;
  margin: 40vh auto;
}