@use 'mixins' as *;
@use '_variables' as *;
html {
    height: 100%;
}
body {
    height: 100%;
}
div#root {
    height: 100%;
}
.pageHomeContainer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 100rem;
    height: 100%;
}

.container {  
    max-height: calc(100vh - 5rem);
    margin-top: 5rem;
}
//Cover Image and Intro Text Section
.coverWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: center;
    }
    @media (min-width: 1000px) {
        justify-content: space-between;
    }
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;


    @media (min-width: 600px) {
        width: 60%;
        height: 80vh;
    }
    h2 {
        font-size: 45px;
        text-transform: uppercase;
    }
}
.text {
    margin: 0 20px;
    width: 300px;
    @media (min-width: 600px) {
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }
}
.name {
    color: #007AB8;
}

.right {
    display: flex;
    justify-content: right;
    align-items: center;
    height: 50vh;
    width: 100%;
    
    @media (min-width: 600px) {
        height: 80vh;
        
        width: 40%;
    }
}

.imageWrap {

    img {
        display: block;
        width: 250px;
        height: auto;
        opacity: 0.85;
        margin: 0 0 0 auto;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        filter: grayscale(100%);
        object-fit: cover;
        @media (min-width: 600px) {
            width: auto;
            height: 80vh;
        }
       
    }
 
}
//End of Cover Image and Intro Text Section

//About Section
.intro {
    max-width: 800px;
    margin: 3rem auto;
    padding: 20px;
}
//End of About Section

// Recent Projects Section
.projects {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.projectCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3rem;
}
//End of Recent Projects Sections


// Contact Section
.contactWrap {
    
    margin: 0 1.25rem 5rem;
    padding-top: 3.75rem;

    h2 {
        margin: 4.375rem auto 0;
        max-width: 25rem;
        text-align: center;
        line-height: 1.8rem;
    }
    p {
        margin: 0.3125rem auto;
        text-align: center;
    }
}

.accent {
    display: block;
    text-decoration: none;
    color: black;
    background-color: $accentLightBlue;
    padding: 1.25rem 0;
    max-width: 18.75rem;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem #44444475)
}

.smalltext {
    margin: 3.125rem auto;
}
  
button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    img {
        padding-left: 0.625rem;
    }
}

section.email {
    display: inline-block;
    margin-left: 50%;
    //adjusts by half the width of the div, to center it
    transform: translateX(-50%);
    margin-top: 2.5rem;
}

section.email + p.popup {
    display: none;
    background: $accentLightBlue;
    max-width: 9.375rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

section.email:hover + p.popup {
    display: block;
    color: black;
}
// End of Contact Section