@use '_mixins' as *;

.imgWrap {
    display: inline-block;
    overflow: hidden;
    border-collapse: separate;
    border-radius: 17px;
    filter: drop-shadow(0.1875rem 0.1875rem 0.3125rem #44444475);
}

img.projectCoverImage {
    display: block;
    margin: 0 auto;
    width: 18.75rem;
    height: 12.5rem;
    

    @media(min-width: 31.25rem) {
        width: 28.125rem;
        height: 18.75rem;
    }

    @media(min-width: 43.75rem) {
        width: 37.5rem;
        height: 25rem;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 1.5625rem;
    max-width: 75rem;
    margin: 0 auto;
}

.marginWrap {
    max-width: 75rem;
    margin: 0 auto;

    h2.featureHeader {
        padding-left: 1.25rem;
    }
}

.projectInfo {
    margin: 0 auto;
    padding: 1.25rem;
    min-width: 18.75rem;
    max-width: 37.5rem;

    @media (min-width: 75rem) {
        padding: 0 2rem 1.5rem;
    }

    section {
        padding: 0.3125rem 0;
    }
}

.infoWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 1rem;

    @media (min-width: 75rem) {
        display: flex;
        padding-top: 2rem;

        h2:first-of-type {
            margin-top: 0;
        }
    }
}