@use 'variables' as *;
@use 'mixins' as *;

.contactWrap {
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    h2 {
        margin: 4.375rem auto 0;
        max-width: 25rem;
        text-align: center;
        line-height: 1.8rem;
    }
    p {
        margin: 0.3125rem auto;
        text-align: center;
    }
}

.accent {
    display: block;
    text-decoration: none;
    color: black;
    background-color: $accentYellow;
    padding: 1.25rem 0;
    max-width: 18.75rem;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey)
}

.smalltext {
    margin: 3.125rem auto;
}

    
button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    img {
        padding-left: 0.625rem;
    }
}

section.email {
    display: inline-block;
    margin-left: 50%;
    //adjusts by half the width of the div, to center it
    transform: translateX(-50%);
    margin-top: 2.5rem;
}

section.email + p.popup {
    display: none;
    background: #ACCEE2;
    max-width: 9.375rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

section.email:hover + p.popup {
    display: block;
    color: black;
}