@use 'mixins' as *;
@use '_variables' as *;
html {
    height: 100%;
}
body {
    height: 100%;
}
div#root {
    height: 100%;
}
.pageHomeContainer {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    max-width: 100rem;
    height: 100%;
    
}
.container {  
   
    max-height: calc(100vh - 5rem);
    margin-top: 5rem;
}
//Cover Image and Intro Text Section
.coverWrap {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    
    @media (min-width: 600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    //height: calc(100vh - 5rem);
    width: 100vw;
    margin: 0 20px;
    //border: 1px solid blue;

    @media (min-width: 600px) {
        width: 50vw;
        
        height: 80vh;
    }
    h2 {
        font-size: 45px;
        text-transform: uppercase;
    }
}
.name {
    color: #007AB8;
}

.right {
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
    
    height: 50vh;
    width: 100vw;
    border: 1px solid goldenrod;
    @media (min-width: 600px) {
        height: 80vh;
        
        width: 50vw;
    }
}

.imageWrap {
    //background-color: red;
    object-fit: cover;
    
    //width: 100%;
    //height: 100%;
    
    border: 1px solid green;
   

    img {
        display: block;
        width: 250px;
        height: auto;
        
        opacity: 0.85;
        z-index: 1;
        margin: 0 0 0 auto;
        clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
        //border: 1px solid pink;
        
        @media (min-width: 600px) {
            width: auto;
            height: 80vh;
    
        }
    }
    .overlay {
        background-color: rgb(0, 122, 184, 0.5);
        z-index: 2;
    }

 
}
//End of Cover Image and Intro Text Section

//About Section
.intro {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    //border: 1px solid green;
}
//End of About Section

// Recent Projects Section
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
//End of Recent Projects Sections


// Contact Section
.contactWrap {
    
    margin: 0 1.25rem 5rem;
    padding-top: 3.75rem;

    h2 {
        margin: 4.375rem auto 0;
        max-width: 25rem;
        text-align: center;
        line-height: 1.8rem;
    }
    p {
        margin: 0.3125rem auto;
        text-align: center;
    }
}

.accent {
    display: block;
    text-decoration: none;
    color: black;
    background-color: $accentLightBlue;
    padding: 1.25rem 0;
    max-width: 18.75rem;
    filter: drop-shadow(0.125rem 0.125rem 0.125rem darkgrey)
}

.smalltext {
    margin: 3.125rem auto;
}
  
button {
    display: flex;
    align-items: center;
    border: none;
    background-color: white;
    img {
        padding-left: 0.625rem;
    }
}

section.email {
    display: inline-block;
    margin-left: 50%;
    //adjusts by half the width of the div, to center it
    transform: translateX(-50%);
    margin-top: 2.5rem;
}

section.email + p.popup {
    display: none;
    background: $accentLightBlue;
    max-width: 9.375rem;
    padding: 0.625rem;
    border-radius: 0.3125rem;
}

section.email:hover + p.popup {
    display: block;
    color: black;
}
// End of Contact Section